################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreateSiteFromTemplate/CreateSiteFromTemplate/bin/Debug
/CreateSiteFromTemplate/.vs/CreateSiteFromTemplate/FileContentIndex
/CreateSiteFromTemplate/.vs/CreateSiteFromTemplate/v17
/CreateSiteFromTemplate/CreateSiteFromTemplate/obj/Debug
/CreateSiteFromTemplate/packages
/CreateSiteFromTemplate/PnPCustomHandler/bin/Debug
/CreateSiteFromTemplate/PnPCustomHandler/obj/Debug
/CreateSiteFromTemplate/CreateSiteFromTemplate/bin/Release
/CreateSiteFromTemplate/CreateSiteFromTemplate/obj/Release
/CreateSiteFromTemplate/PnPCustomHandler/bin/Release
/CreateSiteFromTemplate/PnPCustomHandler/obj/Release
/CreateSiteFromTemplate/CreateSiteFromTemplate/Properties
/CreateSiteFromTemplate/CreateSiteFromTemplate/Web References/permissionAPI
